:root {
  --color-very-dark-blue: hsl(233, 47%, 7%);
  --color-dark-desaturated-blue: hsl(244, 38%, 16%);
  --color-soft-violet: hsl(277, 64%, 61%);
  --color-white: hsl(0, 0%, 100%);
  --color-slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
  --color-slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
  --font-family-body-text: "Lexend Deca", sans-serif;
  --font-family-header-text: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 27.5em) {
  html {
    font-size: 65%;
  }
}

body {
  height: 100vh;
  width: 100vw;
  font-family: var(--font-family-body-text);
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-slightly-transparent-white-main);
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-very-dark-blue);
}
body li {
  list-style: none;
}
@media only screen and (max-width: 27.5em) {
  body {
    text-align: center;
  }
}

.stats-card {
  height: 44.5rem;
  width: 111rem;
  background-color: var(--color-dark-desaturated-blue);
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1.02fr 0.98fr;
}
@media only screen and (max-width: 27.5em) {
  .stats-card {
    margin-top: 2rem;
    height: 900px;
    width: 337.5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    overflow: visible;
  }
}
.stats-card .card-left {
  padding: 7.2rem 10rem 7.2rem 7.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
@media only screen and (max-width: 27.5em) {
  .stats-card .card-left {
    padding: 3rem;
  }
}
.stats-card .card-left__title {
  color: var(--color-white);
  font-family: var(--font-family-header-text);
  font-size: 3.6rem;
}
.stats-card .card-left__title span {
  color: var(--color-soft-violet);
}
@media only screen and (max-width: 27.5em) {
  .stats-card .card-left__title {
    font-size: 2.6rem;
    margin-top: 1rem;
  }
}
.stats-card .card-left__details {
  line-height: 1.7em;
  margin-top: -0.4rem;
  word-spacing: -1px;
}
.stats-card .card-left__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4.1rem;
  -webkit-column-gap: 4.4rem;
     -moz-column-gap: 4.4rem;
          column-gap: 4.4rem;
}
@media only screen and (max-width: 27.5em) {
  .stats-card .card-left__stats {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2.5rem;
    margin-top: 1rem;
  }
}
.stats-card .card-left__stats--3 {
  margin-left: -0.8rem;
}
@media only screen and (max-width: 27.5em) {
  .stats-card .card-left__stats--3 {
    margin-left: 0;
  }
}
.stats-card .card-left__stats .heading {
  color: var(--color-white);
  font-size: 2.4rem;
  font-family: var(--font-family-header-text);
}
.stats-card .card-left__stats .category {
  color: var(--color-slightly-transparent-white-stat);
  text-transform: uppercase;
  margin-top: 0.7rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.stats-card .card-right__image {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(285, 64%, 40%))), url(../images/image-header-desktop.jpg);
  background-image: linear-gradient(hsl(285, 64%, 40%)), url(../images/image-header-desktop.jpg);
  display: block;
  background-size: cover;
  background-blend-mode: hard-light;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}
@media only screen and (max-width: 27.5em) {
  .stats-card .card-right {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(285, 64%, 40%))), url(../images/image-header-mobile.jpg);
    background-image: linear-gradient(hsl(285, 64%, 40%)), url(../images/image-header-mobile.jpg);
    background-size: cover;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 14rem;
}
@media only screen and (max-width: 27.5em) {
  .attribution {
    position: static;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}