// CSS Custom Properties
:root {
  // ## Colors

  // ### Primary
  //  (main background)
  --color-very-dark-blue: hsl(233, 47%, 7%);
  //  (card background)
  --color-dark-desaturated-blue: hsl(244, 38%, 16%);
  //  (accent)
  --color-soft-violet: hsl(277, 64%, 61%);

  // ### Neutral

  // (main heading, stats)
  --color-white: hsl(0, 0%, 100%);
  //  (main paragraph)
  --color-slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
  //  (stat paragraph)
  --color-slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);

  // ## Typography

  // ### Font
  --font-family-body-text: "Lexend Deca", sans-serif;
  --font-family-header-text: "Inter", sans-serif;
}

// Universal Reset
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

// General Styles
body {
  height: 100vh;
  width: 100vw;

  font-family: var(--font-family-body-text);
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-slightly-transparent-white-main);
  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    list-style: none;
  }

  background-color: var(--color-very-dark-blue);
}
