.stats-card {
  height: 44.5rem;
  width: 111rem;
  background-color: var(--color-dark-desaturated-blue);
  border-radius: 5px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1.02fr 0.98fr;

  .card-left {
    padding: 7.2rem 10rem 7.2rem 7.1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__title {
      color: var(--color-white);
      font-family: var(--font-family-header-text);
      font-size: 3.6rem;

      span {
        color: var(--color-soft-violet);
      }
    }

    &__details {
      line-height: 1.7em;
      margin-top: -0.4rem;
      word-spacing: -1px;
    }

    &__stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 4.1rem;
      column-gap: 4.4rem;

      &--2 {
      }

      &--3 {
        margin-left: -0.8rem;
      }

      .heading {
        color: var(--color-white);
        font-size: 2.4rem;
        font-family: var(--font-family-header-text);
      }

      .category {
        color: var(--color-slightly-transparent-white-stat);
        text-transform: uppercase;
        margin-top: 0.7rem;
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
    }
  }

  .card-right {
    &__image {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(hsl(285, 64%, 40%)),
        url(../images/image-header-desktop.jpg);
      display: block;
      background-size: cover;
      background-blend-mode: hard-light;
      filter: brightness(75%);
    }
  }
}
