@use "base";

.stats-card {
  height: 44.5rem;
  width: 111rem;
  background-color: var(--color-dark-desaturated-blue);
  border-radius: 5px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1.02fr 0.98fr;

  @include base.query(base.$bp-phone) {
    margin-top: 2rem;
    height: 856px;
    width: 337.5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    overflow: visible;
  }

  .card-left {
    padding: 7.2rem 10rem 7.2rem 7.1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include base.query(base.$bp-phone) {
      padding: 3rem;
    }

    &__title {
      color: var(--color-white);
      font-family: var(--font-family-header-text);
      font-size: 3.6rem;

      span {
        color: var(--color-soft-violet);
      }

      @include base.query(base.$bp-phone) {
        font-size: 2.6rem;
        margin-top: 1rem;
      }
    }

    &__details {
      line-height: 1.7em;
      margin-top: -0.4rem;
      word-spacing: -1px;
    }

    &__stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 4.1rem;
      column-gap: 4.4rem;

      @include base.query(base.$bp-phone) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 2.5rem;
        margin-top: 1rem;
      }

      &--2 {
      }

      &--3 {
        margin-left: -0.8rem;

        @include base.query(base.$bp-phone) {
          margin-left: 0;
        }
      }

      .heading {
        color: var(--color-white);
        font-size: 2.4rem;
        font-family: var(--font-family-header-text);
      }

      .category {
        color: var(--color-slightly-transparent-white-stat);
        text-transform: uppercase;
        margin-top: 0.7rem;
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
    }
  }

  .card-right {
    background-color: var(--color-soft-violet);

    img {
      height: 100%;
      width: 100%;
      mix-blend-mode: multiply;
      opacity: 75%;
    }

    @include base.query(base.$bp-phone) {
      order: -1;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
    }
  }
}
