// Footer
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 12rem;

  @media only screen and (max-width: 950px) {
    bottom: 4rem;
  }

  @media only screen and (max-width: 400px) {
    position: static;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
